/* ============================
   Configurações e Temas
   ============================ */

/* Módulos base */
@use 'modules/variables' as variables;

@use 'modules/mixins';
@use 'modules/config';
@use 'modules/normalize';
@use 'modules/reset';

/* ============================
   Estrutura Base
   ============================ */

/* Componentes principais */
@use 'components/home';
@use 'components/menu';
@use 'components/about';
@use 'components/projects';
@use 'components/contact';

/* Responsividade */
@use 'responsive';

/* ============================
   Temas
   ============================ */

@use 'themes/light';
@use 'themes/dark';
@use 'themes/hydra';




@use 'themes/solarized';
@use 'themes/dracula';
@use 'themes/neon';

