/* ============================
   Configurações e Temas
   ============================ */

/* Módulos base */
@use 'modules/reset';
@use 'modules/normalize';
@use 'modules/variables';
@use 'modules/mixins';
@use 'modules/functions';
@use 'modules/layout';


/* ============================
   Estrutura Base
   ============================ */

/* Componentes principais */
@use 'components/home';
@use 'components/menu';
@use 'components/about';
@use 'components/projects';
@use 'components/contact';

/* Responsividade */
@use 'responsive';

/* ============================
   Temas
   ============================ */
@use 'themes/light';
@use 'themes/dark';
@use 'themes/hydra';
@use 'themes/solarized';
@use 'themes/dracula';
@use 'themes/neon';
