/* ============================
   Configurações e Temas
   ============================ */
/// Global Stylesheet
/// ============================================================
/// 
/// Importa todos os módulos necessários para o funcionamento dos estilos globais.
/// ============================================================
/// 
/// Módulos Importados
/// ===========================
///   
/// - mixins: Mixin SASS reutilizáveis para layout e temas.
/// - responsive: Mixin para media queries responsivas.
/// ============================================================
/// 
/// Importação de Módulos
/// ============================================================
/// 
/// 
/// 
@use 'modules' as *;

// Estrutura
@use 'modules/layout';
@use 'modules/buttons';
@use 'modules/shadows';
@use 'modules/mixins';
@use 'modules/colors';
@use 'modules/breakpoints';
@use 'modules/typography';
@use 'modules/responsive';

@use 'modules/spacing'; 
@use 'modules/functions';
@use 'modules/config';


// Componentes
@use 'components/home';
@use 'components/menu';
@use 'components/about';
@use 'components/projects';
@use 'components/contact';

// Temas
@use 'themes/light';
@use 'themes/dark';
@use 'themes/hydra';
@use 'themes/solarized';
@use 'themes/dracula';
@use 'themes/neon';
// Animações
@use 'animations/animations';
