$red: #ff0000;
$venus: #915d91;
$white: #ffffff;
$gold: #ffd700;
$blue: #0000ff;
$warmGray: #808080;
$green: #00ff00;
$black: #000000;
$lightGray: #d3d3d3;
$darkGray: #a9a9a9;
$lime: #00ff00;
$limeGreen: #32cd32;
$accent-color: #ff00ff;
$primary: #007bff;
$secondary: #6c757d;    

$primary-color: $green;
$secondary-color: $black;

$background-color: $white;
$text-color: $darkGray;

$link-color: $blue;
$border-radius: 4px;

$border-color: $lightGray;

$button-primary-background-color: $green;
$button-primary-text-color: $white;

$button-secondary-background-color: $black;
$button-secondary-text-color: $white;

$alert-success-background-color: #d4edda;
$alert-success-text-color: #155724;

$alert-error-background-color: #f8d7da;
$alert-error-text-color: #721c24;

$alert-warning-background-color: #fff3cd;
$alert-warning-text-color: #856404;

$alert-info-background-color: #d1ecf1;
$alert-info-text-color: #0c5460;

$modal-background-color: rgba(0, 0, 0, 0.5);
$modal-content-background-color: $white;

$tooltip-background-color: $black;
$tooltip-text-color: $white;

$navbar-background-color: $white;
$navbar-text-color: $darkGray;

$footer-background-color: $black;
$footer-text-color: $white;
