@use '../modules/reset' as reset;
@use '../modules/colors' as clr;
@use '../modules/typography' as typo;
@use '../modules/spacing' as space;
@use '../modules/functions' as fnc;
@use '../modules/mixins' as mxn;
@use '../modules/themes' as t;
@use 'sass:map';

body {
  background-color: clr.$primary-color;
  color: clr.$text-color;

  .main {
    @include mxn.flex-center('row');
    width: 80%;
    margin: 0 auto;

    @include mxn.mobile {
      flex-direction: column;
    }

    .main_paragraph {
      font-weight: fnc.weight('bold');
      line-height: 1.6;

      &:hover {
        color: clr.$secondary-color;
      }
    }
  }
}

.light-theme {
  @include mxn.theme(light);
}

.dark-theme {
  @include mxn.theme(dark);
}

.hydra-theme {
  @include mxn.theme(hydra);
}

.solarized-theme {
  @include mxn.theme(solarized);
}

.dracula-theme {
  @include mxn.theme(dracula);
}


