@use '../modules/colors' as clr;
@use '../modules/themes' as t;
@use '../modules/breakpoints' as bp;
@use 'sass:meta'; 
@use 'sass:map';


@mixin flex-center($direction : 'row') {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin theme($theme-name) {
  $theme-map: map.get(t.$themes, $theme-name);
  $background: map.get($theme-map, background);
  $text: map.get($theme-map, text);

  background-color: $background;
  color: $text;

  a {
    color: $text;
    &:hover {
      color: clr.$secondary-color;
    }
  }
  
}

@mixin mobile {
  @media (max-width: bp.$mobile) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: bp.$tablet) {
    @content;
  }
}   

@mixin desktop {
  @media (min-width: bp.$desktop) {
    @content;
  }
}

