// modules/_responsive.scss
@use './breakpoints' as bp;
@use 'sass:map';

// Mapa central de breakpoints
$breakpoints: (
  mobile: bp.$mobile,
  tablet: bp.$tablet,
  laptop: bp.$laptop,
  desktop: bp.$desktop,
  wide: bp.$wide,
  ultra-wide: bp.$ultra-wide
);

// Mixin universal de media queries
@mixin respond($size) {
  $value: map.get($breakpoints, $size);

  @if $value == null {
    @error "O breakpoint `#{$size}` não existe no mapa de breakpoints.";
  }

  @media (max-width: $value) {
    @content;
  }
}

