$font-family: 'Helvetica, sans-serif';
$typo-font-family: 'Arial, sans-serif';
$font-weights: (
  normal: 400,
  medium: 500,
  bold: 700,
);
$font-size-base: 16px;
$base-font-size: 14px;

$line-height-base: 1.5;
