$red: #ff0000;
$venus: #915d91;
$white: #ffffff;
$Gold: #ffd700;
$Blue: #0000ff;
$warmGray: #808080;
$green: #00ff00;
$black: #000000;
$lightGray: #d3d3d3;
$darkGray: #a9a9a9;
$lime: #00ff00;
$blue: #0000ff;
$limeGreen: #32cd32;

$accent-color: #ff00ff;
$typo-font-family: 'Arial, sans-serif';
$base-font-size: 14px;  
$font-family: 'Helvetica, sans-serif';
$font-size-base: 16px;
$line-height-base: 1.5; 
$spacing-unit: 8px;
$border-radius: 4px;    

$transition-duration: 0.3s;
$transition-ease: ease-in-out;  

$box-shadow-default: 0 2px 4px rgba(0, 0, 0, 0.1);
$box-shadow-hover: 0 4px 8px rgba(0, 0  , 0, 0.2);
$box-shadow-active: 0 1px 2px rgba(0, 0, 0, 0.2);

$z-index-dropdown: 1000;
$z-index-modal: 1100;       

$breakpoint-sm: 576px;
$breakpoint-md: 768px;  
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;     

$container-width-sm: 540px;
$container-width-md: 720px;     
$container-width-lg: 960px;
$container-width-xl: 1140px;    

$grid-columns: 12;
$grid-gutter-width: 30px;   


$primary-color: $green;
$secondary-color: $black;       

$background-color: $white;
$text-color: $darkGray;


$link-color: $blue;
$link-hover-color: darken($blue, 15%);  
$border-color: $lightGray;
$input-background-color: $white;
$input-border-color: $lightGray;
$input-focus-border-color: $blue;       

$button-primary-background-color: $green;
$button-primary-text-color: $white;


$button-secondary-background-color: $black;
$button-secondary-text-color: $white;   

$alert-success-background-color: #d4edda;
$alert-success-text-color: #155724;     

$alert-error-background-color: #f8d7da;
$alert-error-text-color: #721c24;       

$alert-warning-background-color: #fff3cd;
$alert-warning-text-color: #856404;
$alert-info-background-color: #d1ecf1;
$alert-info-text-color: #0c5460;    
$modal-background-color: rgba(0, 0, 0, 0.5);
$modal-content-background-color: $white;    
$tooltip-background-color: $black;
$tooltip-text-color: $white;    
$navbar-background-color: $white;
$navbar-text-color: $darkGray;  

$footer-background-color: $black;
$footer-text-color: $white; 