//-- Separator
include sections/section-separator.pug
//- 1. Hero section
include sections/section-hero.pug
//-- Separator
include sections/section-separator.pug
//-2.Home section
include sections/section-home.pug
//- 2. Body content
include sections/section-body.pug

