section.hero
  .container
    h1 #{siteName} — Starter Kit
    h2.hero_description HTML template,
      span.hero_description--last  for modern projects!
    h3= description
    p This is your basic environment for creating any project.
    a.hero_btn.btn-explore(href="#home") Explore

