section.features
  h2 Included components
  ul
    li Theme system
    li Modular header and footer
    li Responsive layout
    li Scalable SCSS framework
    li Modular JS scripts
    li Pug templating system
    li Gulp build system
    li Image optimization
    li And much more...
  p For a tutorial on this topic, see: (href="https://youtu.be/_a5j7KoflTs?t=1831") tutorial