section.hero
  .container
    h1 #{siteName} — Starter Kit
    h2.hero_description Template HTML5 moderno, leve e flexível,
      span.hero_description--last  para projectos modernos!
    h3= description
    p Este é o ambiente base para criar qualquer projeto.
    a.hero_btn.btn-explore(href="#home") Explorar

