section.hero
.container
  h1 Welcome to the Starter Kit
  h2.hero_description HTML template 
  span.hero_description--last for modern projects
  h3 Modern and customizable template, with all the essential components to kickstart your web development journey.
  p This is your basic environment for creating any project.