.container
    .main  
        p.main_paragraph1 
            | Para um tutorial sobre este tema, consulte:
            a(href="https://youtu.be/_a5j7KoflTs?t=1831" target="_blank")  este tutorial!
            |  by 
            span  Mike Smith.
            strong  Mike Smith is the author of the original tutorial and the inspiration for the Starter Kit’s general layout. 
            | He is a colaborator at: 
            a(href="https://www.codestackr.com/" target="_blank") codestackr, 
            | and also create's tutorial videos at: 
            a(href="https://www.youtube.com/codestackr" target="_blank") CodeStackr YouTube Channel
            |  and the creator of : 
            strong 
            a(href="https://youtu.be/_a5j7KoflTs?t=1831" target="_blank") Sass Tutorial for Beginners – CSS With Superpowers.
            |  For documentation, check the Starter Kit guide.
            |  This section will soon include a proper tutorial link.          
            |  Visit the 
            a(href="https://github.com/carloshmarques/starter-kit" target="_blank") GitHub repository
            |!
        p.main_paragraph2 "1914 translation by H. Rackham, But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial