.hero {
  padding-top: 7rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 62.7vh;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1.5rem;
  /* IMPORTANTE: nada de gap aqui */
}

.hero .container { 
  display: flex;
  flex-direction: column;
  gap: 2rem; /* espaçamento correto entre título, texto e botão */
}

.hero .container .hero_btn {
  align-self: center; /* alinhamento do botão */
}

.hero_description {
  font-size: 1.2rem;
  color: var(--accent);
}

.hero_description--last {
  font-weight: bold;
  color: var(--link-hover);
}
#home {
  display: none;
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}
.home-section .main {
  display: grid;
  grid-template-columns: 1fr 1fr; /* duas colunas iguais */
  gap: 2rem; /* espaço entre as colunas */
}

.home-section p {
  text-align: justify;
  text-justify: inter-word;
  hyphens: auto;
}



#home.visible {
  display: block;
  opacity: 1;
  transform: translateY(0);
}


