.hero {
  padding-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  min-height: calc(100vh - 7rem - 6rem);

  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 4rem;

  /* IMPORTANTE: nada de gap aqui */
}

.hero .container { 
  display: flex;
  flex-direction: column;
  gap: 2rem; /* espaçamento correto entre título, texto e botão */
}

.hero .container .hero_btn {
  align-self: center; /* alinhamento do botão */
}

.hero_description {
  font-size: 1.2rem;
  color: var(--accent);
}

.hero_description--last {
  font-weight: bold;
  color: var(--link-hover);
}
