footer.site-footer
  p © #{new Date().getFullYear()} #{title}. All rights reserved.

  nav.footer-nav
    ul.footer-list
      li.footer-item: a.footer-link(href="#privacy") Privacy Policy
      li.footer-item: a.footer-link(href="#terms") Terms of Service
      li.footer-item: a.footer-link(href="#contact") Contact Us
