footer.site-footer
.footer-content-top
  .social-icons 
    a(href="https://facebook.com/carlo.shmarques" target="_blank") 
      i.fa-brands.fa-facebook-f
    a(href="https://twitter.com/carlo_shmarques" target="_blank") 
      i.fa-brands.fa-twitter
    a(href="https://instagram.com/carlo.shmarques" target="_blank") 
      i.fa-brands.fa-instagram
    a(href="https://linkedin.com/in/carlo-shmarques-123b6215b" target="_blank") 
      i.fa-brands.fa-linkedin-in
    a(href="https://github.com/carloshmarques" target="_blank") 
      i.fa-brands.fa-github
    a(href="https://youtube.com/@carlosmarques" target="_blank") 
      i.fa-brands.fa-youtube
    a(href="https://tiktok.com/@carlosmarques" target="_blank") 
      i.fa-brands.fa-tiktok

.footer-content-center     
  p © #{new Date().getFullYear()} #{title}. All rights reserved.
.footer-content-right
.container
  nav.footer-nav
    ul.footer-list
      li.footer-item: a.footer-link(href="#privacy") Privacy Policy
      li.footer-item: a.footer-link(href="#terms") Terms of Service
      li.footer-item: a.footer-link(href="#contact") Contact Us
