footer.site-footer
  .footer-content-top
    .social-icons 
      a(href="https://facebook.com" target="_blank" aria-label="Facebook")
        i.fa-brands.fa-facebook-f
      a(href="https://twitter.com" target="_blank" aria-label="Twitter")
        i.fa-brands.fa-twitter
      a(href="https://instagram.com" target="_blank" aria-label="Instagram")
        i.fa-brands.fa-instagram
      a(href="https://linkedin.com" target="_blank" aria-label="LinkedIn")
        i.fa-brands.fa-linkedin-in
      a(href="https://github.com" target="_blank" aria-label="GitHub")
        i.fa-brands.fa-github
      a(href="https://youtube.com" target="_blank" aria-label="YouTube")
        i.fa-brands.fa-youtube
      a(href="https://tiktok.com" target="_blank" aria-label="TikTok")
        i.fa-brands.fa-tiktok

  .footer-content-center     
    p © #{new Date().getFullYear()} #{title}. All rights reserved.

  .footer-content-right
    nav.footer-nav
      ul.footer-list
        li.footer-item: a.footer-link(href="#privacy") Privacy Policy
        li.footer-item: a.footer-link(href="#terms") Terms of Service
        li.footer-item: a.footer-link(href="#contact") Contact Us

