header.site-header
  .container
    h1.site-title My Website
  nav.navbar
    ul.nav-list
      li.nav-item: a.nav-link(href="#home") Home
      li.nav-item: a.nav-link(href="#about") About
      li.nav-item: a.nav-link(href="#contact") Contact
