doctype html
html(lang="pt")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title}

    if env === 'production'
      link(rel="stylesheet", href="css/normalize.min.css")
      link(rel="stylesheet", href="css/main.min.css")
    else
      link(rel="stylesheet", href="css/normalize.css")
      link(rel="stylesheet", href="css/main.css")
    //- Removido o include header daqui, a menos que ele contenha apenas METAS
  
  body
    include header.pug

    block content 
      

    include footer.pug

    script(src="https://code.jquery.com")
    script(type="module", src=env === 'production' ? "js/main.min.js" : "js/main.js")


